@font-face {
    font-family: 'Times New Roman';
    font-display: swap;
    src: url('../font/Times New Roman.ttf') format("truetype");
}

/* @font-face{
    font-family: 'Amiri';
    font-display: swap;
    src: url('../font/Amiri-Regular.ttf') format("truetype");
} */

body {
    font-family: "Microsoft YaHei", 'Lora', 'Amiri', 'Times New Roman', 'MiSans-Regular','Times New Roman Bold';
}

p { 
    font-family: 'Times New Roman', sans-serif; 
    font-weight: normal; 
  }
p strong { 
    font-family: 'Misans-Bold', sans-serif; 
    font-weight: bolder; 
}